<h1>Editing Donation</h1>

<%= render 'form', donation: @donation %>


<div class='donationedit btn'>
  <%= link_to 'Show', @donation, class: 'btn btn-secondary' %> |
  <%= link_to 'Cancel', donations_path, class: 'btn btn-secondary' %>
</div>
