
<div class="show">
<p>
  <strong>Amount:</strong>
  $<%= sprintf('%.2f', @donation.amount) %> <br>
  <strong>Donor:</strong>
  <%= @donation.donor_login.first_name %><br>
  <strong>Date: </strong>
  <%= @donation.created_at %>
</p>

<div class="donationshow btn">
  <%= link_to 'Back', donations_path, class: 'btn btn-secondary' %>
</div>
</div>
