
<p>
  <strong>Amount:</strong>
  $<%= sprintf('%.2f', @donation.amount) %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @donation.donor_login.first_name %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
