/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 30px 30px;
	min-height: 195px;
	font-family: 'Open Sans', sans-serif;
}

.div-login{
	margin: 30px 30px;
}

.home-btn {
	display: flex;
	align-items: flex-end;
}

.home-btn h1 a {
	text-decoration: none;
	color: #DBDBDB;
	font-size: 60px;
}

.nav {
	display: flex;
	align-items: flex-end;

}

.nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}

.nav ul li a {
	text-decoration: none;
	margin: 12px;
	font-size: 20px;
	color: #bab8b8;
}

.nav ul li a:hover {
	color: #7e7e7e;
}

footer {
	margin-top: 90px;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #bab8b8;
} 
