

body {
  font-weight: 400;
  text-decoration-color: #212529;
  text-align: left;

}

.container img {
  background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{
 align-self: left;
 font-size: 20px;

}

.card-header {
  background: linear-gradient(to right, rgba(64,224,208,1), rgba(255,165,0,1));
  width:300px;
  height: 100%;
  opacity: 0.9;
  margin-left:auto;
  margin-right:auto;
  font-family: "Times New Roman", Georgia, Serif;
  box-shadow: 10px 10px 5px grey;


}

.card-footer {
  background: linear-gradient(to right, rgba(64,224,208,1), rgba(255,165,0,1));
  width:300px;
  height: 100%;
  opacity: 0.9;
  margin-left:auto;
  margin-right:auto;
  font-family: "Times New Roman", Georgia, Serif;

}
