.sessions_new {
  background: url('public/ldb-march-start-investing-500-01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.registrationss_new {
    background: url('public/ldb-march-start-investing-500-01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.registrationss_new {
  background: url('public/ldb-march-start-investing-500-01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.passwords_new {
  background: url('public/ldb-march-start-investing-500-01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.passwords_new {
  background: url('public/ldb-march-start-investing-500-01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }


.container {
  padding: 25px;
  opacity: 1;
  }


.content{
   align-self: left;
   font-size: 20px;
  }

.card-header {
  background-color: rgba(245, 245, 245, 0.4) !important;
  width:300px;
  height: 100%;
  opacity: 1;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  box-shadow: 10px 10px 5px grey;
}

.card-footer {
  background-color: rgba(245, 245, 245, 0.4);
  width:300px;
  height: 100%;
  opacity: 1;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Open Sans', sans-serif;
 font-size: 15px;
}
