// Place all the styles related to the Funds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-holder {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background-color: #687DD8;
  /*display: flex;*/
  text-align: center;
  /*position: relative;*/
}

.main-holder-text {
  
}

.main-holder-pics {
 
}

.placeholder {
}






















.big-container {
  display: flex;
}

.card-container {
  cursor: pointer;
  height: 600px;
  perspective: 600;
  position: relative;
  width: 350px;
  margin: 80px;
}
.card {
  height: 100%;
  position: flex;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}