// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-img img {
	opacity: 0.7;
}

.org-container {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  color: #6c6d6d;
}

.org-box {
  padding-bottom: 10px;
  border-bottom: 1px solid #687DD8;
  margin: 50px auto;
}

h3 {
	font-family: 'PT Sans', sans-serif;
}
