<div class="org-container">
		<h1>New Organization</h1>
	<div class="new-fund-form">

		<%= render 'form', organization: @organization %>
	</div>
		<div class="z-btn">
		<%= link_to 'Back', organizations_path %>
		</div>
</div>