<div class="z-big-container">
    <% @funds.each do |fund| %>
<div class="z-card-container">

  <div class="z-card">
    <div class="z-side">
     <%= fund.category %>
          <%# link_to 'Learn more', fund %>
     <%# link_to 'Destroy', fund,
     method: :delete, data:
     { confirm: 'Are you sure?' } %>
     <%# fund.organizations.each do |organization| %>
     <%# organization.name %>
     <%# end %>
    </div>
    <div class="z-side back">
      <div class="donate-link">
        <%= link_to 'Donate', new_donation_path %>
      </div>
      <div class="org-names">
      <% fund.organizations.each do |organization| %>
        <%= organization.name %> <br>
      <% end %>
      </div>
   </div>
    </div>
 </div>
     <% end %>

</div>
