

<div class="main-holder">
  <div class="main-holder-text">
    <h3>Some Inspiring Text</h3>
    <h4>Some More Inspiring Text</h4>
  </div>

  <div class="main-holder-pics">
    <img class="placeholder" src="http://via.placeholder.com/350x300" alt="placeholder">
    <img src="http://via.placeholder.com/350x350" alt="placeholder">
    <img class="placeholder" src="http://via.placeholder.com/350x300" alt="placeholder">
  </div>
</div>

<h1>Funds</h1>

<%= render 'fund' %>

<br>

<%= link_to 'Create New Fund', new_fund_path %>
