
<div class="funds_new">

<div class="container">
	<div class="card-header" style="width: 50rem;">
      <h1 style="color: #1b5e20">Create New Fund</h1>
	<div class="form-group">
	<div class="actions">

	<%= render 'form', fund: @fund %>

		<%= link_to 'Back', funds_path %>

			<div class="z-btn">
	</div>
	</div>
	</div>
</div>
