<!-- <div class="bg-container"> -->
  <div class="background">
      <div class="thanks">

      <h2>Thanks for your donation of <strong>$ <%= sprintf('%.2f', @amount) %></strong>!</h2>

    </div>
  </div>
<!-- </div> -->
